@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
   
}

section.sky{
    height: 500px;
    width: 100%;
    background-color: #5b99fe;
    .gameheader{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        h1{
            color: #ffffff;
            margin:0;
            padding:0;
            font-size: 32px;
        }
        p{
            color: #ffffff;
            margin:0;
            padding:0;
            font-size: 20px;
            text-align:center;
        }
    }
    .cloud{
        margin-top: 20px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        i{
            position: relative;
            color: #ffffff;
            animation-name: cloudTrack;
            animation-duration: 80s;
        }
    }
    .getpoint{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        position: relative;
        .point0{
            height: 50px;
            width:60px;
            left: 50%;
            background-image: url(../image/R10961_image1.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: color-burn;
            background-color:#d648014f;
        }
        .point1{
            height: 50px;
            width:60px;
            left: 50%;
            background-color:#752a05ee;
            color: rgb(145, 129, 129);
            font-size: 40px;
            text-align: center;
        }
        .mushroom{
            position: absolute;
            top: 0;
            left: 52%;
            opacity: 0;
            animation-name: mushroom;
            animation-duration: 5s;
            animation-delay: 14s;
        }
    }
    .gamezone{
        display: flex;
        position: relative;
        margin-top: 85px;
        padding-left: 300px;
        .mario{
            position: absolute;
            left:0;
            height: 80px;
            animation-name: marioTrack;
            animation-duration: 20s;
            animation-delay: 2s;
            img{
                height: 100%;
                width: auto;
            }
        }
        .tube{
            display:flex;
            flex-direction: column;
            align-items: center;;
            .top{
                height:20px;
                width:90px;
                border-radius: 5px;
                background: rgb(84,224,118);
                background: linear-gradient(90deg, rgba(84,224,118,1) 27%, rgba(3,122,54,1) 66%);
            }
            .bottom{
                height: 60px;
                width: 60px;
                background: rgb(84,224,118);
background: linear-gradient(90deg, rgba(84,224,118,1) 27%, rgba(3,122,54,1) 66%);
            }
        }
        .killers{
            position: absolute;
            right: 0;
            bottom: 0;
            height: 50px;
            animation-name: killersTrack;
            animation-duration: 20s;
            animation-delay: 4s;

            img{
                height: 100%;
                width: auto;
            }
        }
    }
}


section.ground{
    height: 100px;
    width: 100%;
    background-image: url(../image/R10961_image1.jpeg);
    background-repeat: repeat-x;
    background-blend-mode: color-burn;
    background-color:#d648014f;
}
