@keyframes cloudTrack{
    from {right:-50%;}
    to {right: 100%}
}
@keyframes killersTrack{
    from{
        right:0;
    }
    to{
        right: 66%;
    }
}

@keyframes marioTrack{
    0%{
        left:0;
        bottom:0px;
    }
    20%{ 
        left: 230px;
        bottom: 0px;
    }
    30%{
        left: 275px;
        bottom: 80px;
    }
    35%{
        left: 360px;
        bottom: 80px;
    }
    40%{
        left: 380px;
        bottom: 0px;
    }
    55%{
        left: 500px;
        bottom: 0px;
    }
    60%{
        left: 600px;
        bottom: 80px;
    }
    65%{
        left: 700px;
        bottom: 0px;
    }
    70%{
        left: 720px;
        bottom: 85px;
    }
    75%{
        left: 720px;
        bottom: 0px;
    }
    100%{
        left: 1400px;
        bottom: 0px;
    }
}

@keyframes mushroom{
    0%{
        opacity: 0;
        top:0;
    }
    20%{
        opacity: 0;
        top:0;
    }
    40%{
        opacity: 0;
        top:0;
    }
    60%{
        opacity: 1;
        top:-40px;
    }
    80%{
        opacity: 1;
        top:-150px;
    }
    100%{
        opacity: 1;
        top:-300px;
    }

}